.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.tabbar {
	transition:
		opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.tabbarHidden {
	opacity: 0;
	transform: translateY(100%);
	pointer-events: none;
}

.title {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}
